div#home{
		background-color: #301435;
		h1{
			font-family: "TheGreatOutdoors";
		}
	div#topo{
		background-image: url("/topo.jpg");
		background-size: cover;
		padding: 5% 0;
		div.conteudo{
			padding: 30px 0;
			height: 500px;
			border-left: solid 1px white;
			margin-bottom: 15%;
			.faixa_branca{
				margin-top: 20%;
				background-color: white;
				margin-left: -10%;
			}
		}
		h1{
			margin: 0;
			color: #301435;
			font-size: 60px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	div#barra_rosa{
	}
	div#camada_1{
		background-image: url("/camada_1.jpg");
		background-size: cover;
		img{
			margin-top: 10%;
		}
		.texto_comecou{
			color: white;
			font-size: 25px;
			margin-top: 20%;
			margin-bottom: 30%;
		}
	}
	div#camada_2{
		background-image: url("/camada_2.jpg");
		background-size: cover;
		padding: 5% 0;
		padding-bottom: 13%;
		h1{
			text-align: right;
			margin: 0;
			font-size: 60px;
			color: #633434;
		}
		div.descricao{
			clear: both;
			float: left;
			padding: 10%;
			background: #633434;
			p{
				font-size: 20px;
				color: #633434;
				text-align: right;
				color: white;
			}
			p.amarelo{
				color: #ffd86f;
				font-weight: 700;
			}
		}
	}
	div#camada_3{
		background-image: url("/camada_3.jpg");
		background-size: cover;
		padding: 8% 0;
		h1{
			text-align: left;
			margin: 0;
			font-size: 60px;
			color: #ff155b;
			margin-bottom: 10%;
		}
		span.badge{
			color: #ff155b;
			background: #ff155b;
		}
		p{
			color: #633434;
			font-size: 20px;
			small{
				font-size: 10px;
			}
		}
	}
	div#camada_4{
		background-image: url("/camada_4.png");
		background-size: cover;
		padding: 5% 0;
		h1{
			text-align: right;
			margin: 0;
			font-size: 60px;
			color: #633434;
		}
		p{
			font-size: 20px;
			color: #633434;
		}
	}
	div#camada_5{
		.carousel-control{
			span{
			font-size: 80px;
			color: white;
			}
			
		}
		.glyphicon-chevron-left:before {
			content: "\e257";
		}
		.glyphicon-chevron-right:before {
			content: "\e258";
		}
		h1{
			font-size: 60px;
			margin: 0;
			font-weight: 100;
		}
	}
	div#camada_6{
		background-image: url("/camada_6.png");
		background-size: cover;
		padding: 5% 0;
		h2, p{
			text-align: left;
		}
		h1{
			text-align: center;
			margin: 0;
			padding: 30px 0;
			font-size: 60px;
		}
		h2.titulo{
			color: #4e2121;
			font-weight: 700;
		}
		p.descricao{
			color: #4e2121;
			font-size: 20px;
		}
		p.preco{
			color: #ff2e7b;
			font-size: 30px;
			font-weight: 700;
		}
	}
	div#final{
		position: relative;
		background-image: url("/final.jpg");
		background-size: cover;
		padding-bottom: 30px;
		.formulario{
			padding-top: 30px;
			background: rgba(000, 000, 000, 0.3);
		}
		textarea.form-control{
			border: 0 solid;
			border-radius: 20px;
		}
		.form-control{
			border: 0 solid;
			border-radius: 20px;
		}
		label{
			color: white;
		}
		h1, h2, h3, h4, h5{
			color: white;
		}
		h1.titulo{
			padding-top: 108px;
			text-align: right;
			font-size: 60px;
		}
		h4{
			text-align: right;
			font-size: 30px;
		}
		h1.form{
			font-size: 60px;
		}
	}
	div#rodape{
		height: 75px;
		background-color: #301435;
		text-align: center;
		img{
			max-width: 75px;
			padding: 10px;
			opacity: 0.2;
		}
	}
}

@media only screen and (max-width : 1024px) { 
	div#topo{
		div.conteudo{
			padding: 30px 0;
			height: 500px;
			border-left: solid 1px white;
			margin-bottom: 15%;
			.faixa_branca{
				margin-top: 20%;
				background-color: rgba(255, 255, 255 , 0.8) !important;
				margin-left: -10%;

			}
		}
		h1{
			margin: 0;
			color: #301435;
			font-size: 30px !important;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	div#camada_1{
		.texto_comecou{
			text-align: center;
		}
		img{
			width: 75%;
			margin-left: 10%;
		}
	}
	div#camada_4{
		h1, h2, p{
			color: #fff !important;
		}
	}
	div#camada_5{
		.carousel-control{
			span{
			font-size: 40px !important;
			text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
			color: white;
			}
			
		}
		.carousel-description{
			display: none;
		}
		.glyphicon-chevron-left:before {
			content: "\e257";
		}
		.glyphicon-chevron-right:before {
			content: "\e258";
		}
	}
	div#final{
		.formulario{
			padding-top: 30px;
			background: rgba(000, 000, 000, 0.0) !important;
		}
		img{
			display: none;
		}
		h1.titulo{
			padding-top: 0px !important;
			text-align: center !important;
		}
		h4{
			text-align: center !important;
		}
	}
}

.carousel-inner .camada_5_1 {
/*   max-height: 680px; */
  height: 100vh;
  background: url('/camada_5_1.png') no-repeat center top;
  background-size: cover;
}

.carousel-inner .camada_5_2 {
/*   max-height: 680px; */
  height: 100vh;
  background: url('/camada_5_2.png') no-repeat center top;
  background-size: cover;
}

.carousel-inner .camada_5_3 {
/*   max-height: 680px; */
  height: 100vh;
  background: url('/camada_5_3.png') no-repeat center top;
  background-size: cover;
}

.carousel-inner .camada_5_4 {
/*   max-height: 680px; */
  height: 100vh;
  background: url('/camada_5_4.png') no-repeat center top;
  background-size: cover;
}

.carousel-inner .camada_5_5 {
/*   max-height: 680px; */
  height: 100vh;
  background: url('/camada_5_5.png') no-repeat center top;
  background-size: cover;
}

.carousel-inner .camada_5_6 {
/*   max-height: 680px; */
  height: 100vh;
  background: url('/camada_5_6.png') no-repeat center top;
  background-size: cover;
}
