.grid {
  position: relative;
  padding: 20px;
}

/* Common style */
.grid figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  margin: 0 auto;
  display: block;
  // min-height: 100%;
  // max-width: 100%;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.grid figure figcaption {
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*---------------*/
/***** Jazz *****/
/*---------------*/

figure.effect-jazz {
  background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
  background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
}

figure.effect-jazz img {
  opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
  transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
  color: #FFF;
  text-shadow: 0 0 20px #000000;
  opacity: 1;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
}

figure.effect-jazz h2 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-jazz p {
  padding: 0.5em 2em;
  text-transform: none;
  font-size: 0.85em;
  opacity: 0;
}

figure.effect-jazz:hover img {
  opacity: 0.7;
  -webkit-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}

figure.effect-jazz:hover figcaption::after {
  opacity: 1;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
  color: #FFF;
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  color: #000000;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  background-color: rgba(255, 255, 255, 0.8)
}

figure.effect-zoe:hover img {
  opacity: 1;
}

figure.effect-zoe h5{
  text-align: center;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
  margin: 0;
  padding: 10px;
  font-size: 14px;
}
figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h5{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
figure.effect-zoe:hover h5 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.grid figure.effect-zoe figcaption,
.grid figure.effect-zoe figcaption > a{
  height: auto !important;
}
.clientes{
  .grid{
    border: 5px solid white;
    box-shadow: 0 0 4px #888;
    display: block;
    background: #ddd none repeat scroll 0 0;
    min-height: 200px;
  }
}

/*---------------*/
/***** Duke *****/
/*---------------*/

figure.effect-duke {
  // background: -webkit-linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
  // background: linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
  min-height: 200px;
}

figure.effect-duke img,
figure.effect-duke p {
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-duke:hover img {
  opacity: 0.7;
  -webkit-transform: scale3d(1.3,1.3,1);
  transform: scale3d(1.3,1.3,1);
}

figure.effect-duke p {
  position: absolute;
  color: #CE2A31;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  margin: 10px 0 20px;
  text-align: center;
  border: 2px solid #fff;
  text-transform: none;
  font-size: 18px;
  opacity: 0;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}

figure.effect-duke:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

/* Medium Devices, Desktops */
@media (min-width : 320px) and (max-width : 1199px) {
  div.blocos div.gantry-width-block.gantry-width-33{
    width: 290px;
  }
}
