div#home{
  h1, h2, h3, h4, h5{
    color: #301435;
  }
}



/*****************************/
/********** Menu *************/
/*****************************/

button.navbar-toggle{
	color: white;
	font-weight: 700;
	border-color: 2px solid white;
}

#menu {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}
#menu .navbar-nav > li > button {
  font-size: 1.142857143em;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
#menu .navbar-nav > li > button:hover, #menu .navbar-nav > li > button:focus {
  outline: 0;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}
#menu .navbar-nav > .open > button {
  border-radius: 0;
  color: #fff;
  background: none;
}
#menu .navbar-nav > .open > button:hover, #menu .navbar-nav > .open > button:focus {
  color: #fff;
  background: none;
}
.dropdown-menu {
  background: #afafaf;
}
.dropdown-menu > li > button {
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-brand {
  height: auto;
}
#menu .navbar-brand img {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
#menu.navbar-shrink {
  padding: 0;
    	background-color:rgba(48, 20, 53, 0.90);
  button{

  color: #fff !important;
  }
}
#menu.navbar-shrink .navbar-brand {
  padding-bottom: 5px;
}
#menu.navbar-shrink .navbar-brand img {
  max-height: 100%;
}
#menu.navbar-shrink .navbar-nav, #menu.navbar-shrink .navbar-form {
  padding-bottom: 5px;
}
@media(min-width:768px) {
  #menu {
    padding: 25px 0;
    border: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  .navbar-nav, .navbar-form {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px){
  #menu {
      background-color:rgba(48, 20, 53, 0.90);
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    height: 60px;
    img{
      height: 60px !important;
      width: auto !important;
    }
    #main-menu{
      position: absolute;
      background-color:rgba(48, 20, 53, 0.90);
      margin-top: 60px;
    	.navbar-nav > li > button {
    		color: white;
    	}
		.navbar-header {
			margin-left: 3%;
		}
    }
    button.navbar-toggle{
    	border: 2px solid white;
    	span{
	    	color: white;
	    	font-weight: 700;
	    	background-color: white;
    	}
    	background: transparent;
    	&:focus{
	    	background: transparent;
    	}
    }
  }

}

nav#menu {
  display: flex;
 }


 #product{
  .carousel-caption{
    top: 5%;
    img{
      max-width: 100%;
    }
    h1{
    }
  }

  .carousel-description {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    top: 22%;
    h1{
      color: white;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
      margin-top: 0;
      margin-bottom: 0;
      font-size: 60px;
    }
    p{
      strong.titulo{
        font-size: 25px;
      }
      text-align: left !important;
      color: white;
      font-size: 20px;
    }
  }
}


@media screen and (min-width: 768px) {
  .carousel-description .glyphicon-chevron-left,
  .carousel-description .glyphicon-chevron-right,
  .carousel-description .icon-prev,
  .carousel-description .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-description .glyphicon-chevron-left,
  .carousel-description .icon-prev {
    margin-left: -15px;
  }
  .carousel-description .glyphicon-chevron-right,
  .carousel-description .icon-next {
    margin-right: -15px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}