/*
 * Fix Pagination for gem will_paginate
 */
div#pagination{
  display: block;
  text-align: center;
}
div#pagination span.exibir{
  display: inline;
  margin-right: 10px;
}
div#pagination select{
  display: inline;
  margin-right: 10px;
}
.pagination{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > a,
.pagination > span,
div#pagination > span,
div#pagination > #per_page,
.pagination > em {
  display: inline;
}
.pagination > a,
.pagination > span,
.pagination > em,
div#pagination span.exibir {
  position: relative;
  /*float: left;*/
  padding: 6px 12px;
  margin-left: -5px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > a:first-child,
.pagination > span:first-child,
.pagination > em:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > a:last-child,
.pagination > span:last-child,
.pagination > em:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > a:hover,
.pagination > span:hover,
.pagination > em:hover,
.pagination > a:focus,
.pagination > span:focus,
.pagination > em:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > em.current,
.pagination > em.current:hover,
.pagination > em.current:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > span.disabled,
.pagination > span.disabled:hover,
.pagination > span.disabled:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
div#pagination span.exibir{
  border: none;
}