<nav id="menu" class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation" data-spy="affix" data-offset-top="80" style=" margin-bottom: 0;">

      <div class="navbar-header">
        <!-- Menu mobile -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Brand -->
        <%= link_to root_path do %>
          <img id="logo" src="<%= Settings['CONFIGURACOES.logo'] %>" style="width: 60%; padding: 15px;" >
        <% end %>


      </div>

      <div class="container-fluid collapse navbar-collapse" id="main-menu">

        <!-- Menu principal -->
        <ul class="nav navbar-nav font-navbar" >
          <li><button id="bt-home" class="menu btn-link btn-menu">Home</button></li>
          <li><button id="bt-historia" class="menu btn-link btn-menu">História</button></li>
          <li><button id="bt-publico_alvo" class="menu btn-link btn-menu">Público alvo</button></li>
          <li><button id="bt-mercado" class="menu btn-link btn-menu">Mercado</button></li>
          <li><button id="bt-onde_estamos" class="menu btn-link btn-menu">Onde estamos</button></li>
          <li><button id="bt-nossos_produtos" class="menu btn-link btn-menu">Nossos produtos</button></li>
          <li><button id="bt-modelo_loja" class="menu btn-link btn-menu">Modelo loja</button></li>
          <li><button id="bt-contato" class="menu btn-link btn-menu">Contato</button></li>
        </ul>




      </div>

</nav>




    <%= render '/template/frontend/css_changes' %>

