<div class="container-fluid">
  <%= simple_form_for @contato, remote: true, html: {id: :contato_form} do |f| %>

    <div id="form_error">
      <%= render '/template/form_error', object: @contato %>
    </div>
    <%= f.input :remote_ip, as: :hidden, input_html: {value: request.remote_ip} %>
    <%= f.input :user_agent, as: :hidden, input_html: {value: request.env['HTTP_USER_AGENT']} %>


    <div class="row">
      <div class="col-xs-12">
            <%= f.input :nome, label: "Nome: ", input_html: {placeholder: '', maxlength: 86, value: params[:nome].blank? ? nil : params[:nome]} %>
            <%= f.input :telefone, label: "Telefone: ", input_html: {placeholder: '', onkeypress: "mascara(this, checaTelefone)", maxlength: 15, value: params[:telefone].blank? ? nil : params[:telefone]} %>
            <%= f.input :email, label: "E-mail: ", input_html: {placeholder: '', maxlength: 64, value: params[:email].blank? ? nil : params[:email]}, as: :email %>
            <%= f.input :capital_disponivel, label: "Capital disponível", collection: Contato.to_select_capital, prompt: false, include_blank: " * Selecione * ", selected: params[:capital_disponivel].blank? ? nil : params[:capital_disponivel] %>
            <%= f.input :estado, label: "Estado", collection: Estado.to_select, prompt: false, include_blank: " * Selecione * ", selected: params[:estado].blank? ? nil : params[:estado] %>
            <% unless @estado.blank? %>
              <%= f.input :cidade, label: "Cidade de interesse", collection: Contato.to_select_cidade(@estado), prompt: false, include_blank: " * Selecione * " %>
            <% end %>
            <%= f.input :origem, label: "Como ficou sabendo", collection: Contato.to_select_origem, prompt: false, include_blank: " * Selecione * " %>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="form-group text-right">
          <%= f.button :submit, 'ENVIAR', class: "btn btn-roxo btn-lg", style: "border-radius: 40px;"  %>
        </div>
      </div>
    </div>

  <% end %>
</div>



<script type="text/javascript">

  $(function($) {

    $("#contato_estado").change(function() {

      if( $(this).prop('value') != "" ) {
        var estado = $(this).prop('value');
      }

      nome = $("#contato_nome").prop('value');
      telefone = $("#contato_telefone").prop('value');
      email = $("#contato_email").prop('value');
      capital_disponivel = $("#contato_capital_disponivel").prop('value');

      atualiza_cidades(estado, nome, telefone, email, capital_disponivel, "home");
    });





  });



  $(".form-control").keyup(function() {
    $(this).val($(this).val().toUpperCase());
  });

</script>


<script type="text/javascript">
  
  function atualiza_cidades(estado, nome, telefone, email, capital_disponivel, controller){

      $.ajax({
        url: "/"+controller,
        method: "GET",
        dataType: "script",
        data: {
          'estado': estado,
          'nome': nome,
          'telefone': telefone,
          'email': email,
          'capital_disponivel': capital_disponivel

        },
      });

  }
</script>