<% if @contato.errors.any? %>
  $("#form_error").html("<%= j( render '/template/form_error', object: @contato )%>");
<% else %>
  <% unless @system_notice.blank? %>
    $('#contato_form').html("<%= j( render '/template/alert', notice: @system_notice, type: @type, keep: true )%>");
  <% end %>
<% end %>

