$("#contatos_list").html("<%= j( render 'list_facebook' )%>");
<% unless @system_notice.blank? %>
  $('#alert').html("<%= j( render '/template/alert', notice: @system_notice, type: @type )%>");
<% end %>