<% content_for(:title, 'Leads') %>

<div class="modal fade" id="modal-element-contato" tabindex="-1" role="dialog" aria-labelledby="modal-element-contato-label" aria-hidden="true">
  <div class="modal-dialog" id="modal-element-contato-dialog">
    <div class="modal-content" id="modal-element-contato-content"></div>
  </div>
</div>

        <div id="chart_div2" style="width: 100%; height: 400px;"></div>
<div class="page-header">
  <h3><%= 'Leads' %></h3>
</div>
        
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <%= simple_form_for a_contatos_path, method: :get, url: a_contatos_path, remote: true, html: {id: :contatos_filter_form} do |f| %>

<div class="row">
  <div class="col-md-3">
      <%= f.input :nome, label: false, required: false, input_html: {name: :nome, placeholder: 'Nome do Cliente'} %>
  </div>
  <div class="col-md-3">
      <%= f.input :email, label: false, required: false, input_html: {name: :email, placeholder: 'E-mail'} %>
  </div>
  <div class="col-md-3">
      <div class="form-group">
        <%= f.button :submit, t('helpers.links.search'), class: "btn btn-primary" %>
      </div>
  </div>
</div>
    <% end %>
  </div>
</div>



<div class="row">

  <div class="col-sm-12 col-xs-12">
    <div id="contatos_list">
      <%= render 'list_facebook' %>
    </div>
  </div>

</div>


<script type="text/javascript">
  $(function () {
  $('[data-toggle="popover"]').popover()
})
</script>


<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         <%= "#{['Dia']+['Leads']+['Quantidade']}".html_safe %>,
         <%= "#{[(I18n.l((Date.today-6.day), format: '%A'))]+[Contato.media_dia(Date.today-6.day)]+[Contato.media_dia(Date.today-6.day)]}".html_safe %>,
         <%= "#{[(I18n.l((Date.today-5.day), format: '%A'))]+[Contato.media_dia(Date.today-5.day)]+[Contato.media_dia(Date.today-5.day)]}".html_safe %>,
         <%= "#{[(I18n.l((Date.today-4.day), format: '%A'))]+[Contato.media_dia(Date.today-4.day)]+[Contato.media_dia(Date.today-4.day)]}".html_safe %>,
         <%= "#{[(I18n.l((Date.today-3.day), format: '%A'))]+[Contato.media_dia(Date.today-3.day)]+[Contato.media_dia(Date.today-3.day)]}".html_safe %>,
         <%= "#{[(I18n.l((Date.today-2.day), format: '%A'))]+[Contato.media_dia(Date.today-2.day)]+[Contato.media_dia(Date.today-2.day)]}".html_safe %>,
         <%= "#{[(I18n.l((Date.today-1.day), format: '%A'))]+[Contato.media_dia(Date.today-1.day)]+[Contato.media_dia(Date.today-1.day)]}".html_safe %>,
         <%= "#{[(I18n.l((Date.today), format: '%A'))]+[Contato.media_dia(Date.today)]+[Contato.media_dia(Date.today)]}".html_safe %>,
      ]);

    var options = {
      title : 'Cadastros / Dia',
      vAxis: {title: 'Cadastros'},
      hAxis: {title: 'Dia'},
      seriesType: 'bars',
      series: {1: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
    chart.draw(data, options);
  }
    </script>

