<% content_for(:title, "#{Settings['CONFIGURACOES.title']}") %>

<div id="home">

	<div id="topo">
		<div class="container">
			<div class="conteudo">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="faixa_branca" style="">
						<h1 style="padding-top: 30px;">Uma delícia</h1>
						<h1 style="padding-bottom: 30px;">de franquia</h1>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div id="barra_rosa">
		<img src="/barra-rosa.png">
	</div>
	<div id="camada_1"><!--como começou !-->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="/comecou.png" class="comecou" style="">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p class="texto_comecou">
					A CASA DA BRUXA surgiu <br>
					no início de 2015, com a <br>
					intenção de materizalizar um <br>
					sonho, baseado numa grande <br>
					paixão por doces, onde <br>
					o nome Casa da Bruxa foi <br>
					o ponto de partida. <br>
					<br>
					Inspirada nas grandes candy <br>
					stores espalhadas pelo <br>
					mundo, a Casa da Bruxa <br>
					deseja proporcionar através  <br>
					da magia e encantamento <br>
					experiência únicas aos <br>
					nossos consumidores. <br>
					<br>
					Possui hoje grandes projetos <br>
					de expansão nível Brasil.
				</p>
			</div>
		</div>
	</div>
	</div>
	<div id="camada_2"><!--a quem se destina !-->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-md-offset-8 col-sm-offset-8">
					<div style="float: left; margin-bottom: 15px;">
						<h1>A quem <br></h1>
						<h1>se destina</h1>
					</div>
					<div class="descricao" style="margin-top: 30px;">
						<p>
							O ramo de atividade da  <br>
							Franchising CADA DA BRUXA <br>
							é a Franquia de balas, doces, <br>
							guloseimas e presentes <br>
							diferenciados <br>
						</p>
						<p class="amarelo">
							O público-alvo da marca <br>
							são crianças, jovens e <br>
							adultos classe A, B e C. <br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="barra_rosa">
		<img src="/barra-roxa.png">
	</div>
	<div id="camada_3"> <!--o mercado !-->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h1>O Mercado</h1>
					<p>
						<span class="badge">.</span>
						O mercado de foodservice <br>
						tem faturamento estimado <br>
						em R$ 60 bilhões. <br>
						<br>
						<span class="badge">.</span>
						O mercado brasileiro ocupa <br>
						o quinto lugar no ranking <br>
						global de chocolate. <br>
						<br>
						<span class="badge">.</span>
						O Brasil é o segundo maior <br>
						mercado de guloseimas no <br>
						mundo.* <br>
						<br>
						<span class="badge">.</span>
						O segmento de doces<br>
						representa 4º do setor <br>
						de alimentação.* <br>
						<small>*Fonte: Euro Monitor. / *Fonte: Euro Monitor, Abia.</small>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="barra_roxa_continua" style="height: 39px; background: #301435;">
	</div>
	<div id="camada_4"><!--onde estamos !-->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-md-offset-8 col-sm-offset-8">
					<div style="float: left; margin-bottom: 15px;">
						<h1>Onde <br></h1>
						<h1>estamos</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
				</div>
				<div class="col-md-4 col-sm-4">
					<p><strong>1 - </strong>Unidade Curitiba Emiliano <br>
					Rua Emiliano Perneta, 22 / Centro -  <br>
					Curitiba PR <br>
					</p><br>
					<p><strong>2 - </strong>Unidade Curitiba Batel <br>
					Rua Francisco Rocha, 561 / Batel -  <br>
					Curitiba PR <br>
					</p><br>
					<p><strong>3 - </strong>Unidade Curitiba Comendador <br>
					Rua Comendador Araújo, 143 / Centro -  <br>
					Curitiba PR <br>
					</p><br>
					<p><strong>4 - </strong>Unidade Curitiba Shopping Estação <br>
					Avenida Sete de Setembro, 2775 -  <br>
					1º piso / Rebouças - Curitiba PR <br>
					</p><br>
				</div>
				<div class="col-md-4 col-sm-4">
					<p><strong>5 - </strong>Unid. Curitiba Shopping Curitiba <br>
					Rua Brigadeiro Franco, 2300 /  <br>
					Batel - Curitiba PR <br>
					</p><br>
					<p><strong>6 - </strong>Shopping Paladium <br>
					Av. Pres. Kennedy 4121 / Portão,  <br>
					Curitiba PR <br>
					</p><br>
					<p><strong>7 - </strong>Park Shopping Baragui R. Prof. Pedro Viriato Parigot de <br>
					Souza, 600 -  <br>
					Massungê, Curitiba PR <br>
					</p><br>
					<p><strong>8 - </strong>Londrina - Implantação <br>
					</p><br>
					<p><strong>9 - </strong>Camboriú - Implantação <br>
					</p><br>
					<p><strong>10 - </strong>Florianópolis - Implantação <br>
					</p><br>
				</div>
			</div>
		</div>
	</div>
	<div id="camada_5"><!--produtos !-->
		<%= render partial: 'produtos' %>
	</div>
	<div id="barra_rosa">
		<img src="/barra-rosa-1.png">
	</div>
	<div id="camada_6"><!--Modelo de negócio !-->
		<h1>Modelo de negócio</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<img src="/loja_conceito.jpg">
				</div>
				<div class="col-md-3 col-sm-3">
					<h2 class="titulo">Loja Conceito</h2>
					<p class="descricao"> Investimento a partir de:</p>
					<p class="preco">
						R$ 355.000
					</p>
				</div>
				<div class="col-md-3 col-sm-3">
					<img src="/loja_pocket.jpg">
				</div>
				<div class="col-md-3 col-sm-3">
					<h2 class="titulo">Loja Pocket</h2>
					<p class="descricao"> Investimento a partir de: </p>
					<p class="preco">
						R$ 270.000
					</p>
				</div>
			</div>
			<br> <br>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<img src="/quiosque.jpg">
				</div>
				<div class="col-md-3 col-sm-3">
					<h2 class="titulo">Quiosque</h2>
					<p class="descricao"> Investimento a partir de: </p>
					<p class="preco">
						R$ 145.000
					</p>
				</div>
				<div class="col-md-3 col-sm-3">
					<img src="/microfranquia2.jpg">
				</div>
				<div class="col-md-3 col-sm-3">
					<h2 class="titulo">Microfranquia</h2>
					<p class="descricao"> Investimento a partir de: </p>
					<p class="preco">
						R$ 50.000
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="barra_roxa_continua" style="height: 39px; background: #ff2e7b;">
	</div>
	<div id="final">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
						<h1 class="form text-left" style="padding-bottom: 20px;"><%= "Seja um franqueado".html_safe %></h1>
					<div id="formulario_contato" class="formulario">
						  <%= render partial: '/contatos/contato' %>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h1 class="titulo " style=""><%= "Contato".html_safe %></h1>
					<h4 class=""><%= "#{Settings['CONTATO.email']}" %></h4>
					<h4 class=""><%= "#{Settings['CONTATO.telefone']}" %></h4>
				</div>
			</div>
		</div>
	</div>
	<div id="rodape">
		<img src="/logo.png" id="logo_rodape">
	</div>

</div>



<script type="text/javascript">
	
$("#bt-home").click(function() {
    $('html, body').animate({
        scrollTop: $("#home").offset().top-100
    }, 1500);
});
$("#bt-historia").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_1").offset().top-100
    }, 1500);
});
$("#bt-publico_alvo").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_2").offset().top-100
    }, 1500);
});
$("#bt-mercado").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_3").offset().top-100
    }, 1500);
});
$("#bt-onde_estamos").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_4").offset().top-100
    }, 1500);
});
$("#bt-nossos_produtos").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_5").offset().top-100
    }, 1500);
   	$('.carousel').carousel(0); 
});
$("#bt-modelo_loja").click(function() {
    $('html, body').animate({
        scrollTop: $("#camada_6").offset().top-100
    }, 1500);
});
$("#bt-contato").click(function() {
    $('html, body').animate({
        scrollTop: $("#final").offset().top-100
    }, 1500);
});
$("#logo_rodape").click(function() {
    $('html, body').animate({
        scrollTop: $("#home").offset().top-100
    }, 1500);
});
	

</script>