<% provide(:title, "Alterar minha senha") %>

<section class="container inside" id="login">

  <div id="login_session_text" class="text-center">
    <%= image_tag 'logo.png', alt: Settings['CONFIGURACOES.title'] %>
    <h3>Alterar minha senha</h3>
  </div>

  <div class="container-fluid">
    <div id="alert">
      <%= bootstrap_flash %>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-offset-3 col-sm-6 col-sm-6 padding-60">

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

        <%= devise_error_messages!.gsub('Password', 'Senha').gsub('Reset password token', 'Chave para nova senha').html_safe unless devise_error_messages!.blank? %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><%= glyph('lock', {tag: :span}) %></div>
            <%= f.password_field :password, autocomplete: :off, placeholder: "Senha", class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><%= glyph('lock', {tag: :span}) %></div>
            <%= f.password_field :password_confirmation, autocomplete: :off, placeholder: "Confirmar Senha", class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <%= f.submit 'Salvar', class: 'btn btn-lg btn-primary' %>
          </div>
        </div>

      <% end %>


    </div>

  </div>
</section>
