===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />

<h2>Bom dia!</h2>

<p>Segue contato enviado pelo site <b><%= Settings['CONFIGURACOES.title'].html_safe %></b>.</p>

<table>
  <tr>
    <td>Código: </td>
    <td><%= @contato.codigo_to_s %></td>
  </tr>
  <tr>
    <td>Data de Envio: </td>
    <td><%= l @contato.created_at, format: :short %></td>
  </tr>
  <tr>
    <td>Nome: </td>
    <td><%= @contato.nome %></td>
  </tr>
  <tr>
    <td>E-mail: </td>
    <td><%= @contato.email %></td>
  </tr>
  <tr>
  <tr>
    <td>Telefone: </td>
    <td><%= @contato.telefone %></td>
  </tr>
  <tr>
    <td>Celular: </td>
    <td><%= @contato.celular %></td>
  </tr>
  <tr>
    <td>Capital: </td>
    <td><%= @contato.capital_disponivel %></td>
  </tr>
  <tr>
    <td>Cidade: </td>
    <td><%= @contato.cidade %></td>
  </tr>
  <tr>
    <td>Origem: </td>
    <td><%= @contato.origem %></td>
  </tr>
<br />
===================<br />
  <tr>
    <td>IP de Origem: </td>
    <td><%= @contato.remote_ip %></td>
  </tr>
  <tr>
    <td>User Agent: </td>
    <td><%= @contato.user_agent %></td>
  </tr>
</table>

<br />
===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />
