<% content_for(:title, t('usuarios.index')) %>

<div class="page-header">
  <h3><%= t('usuarios.index') %></h3>
</div>

<div class="row">

    <%= simple_form_for a_usuarios_path, method: :get, url: a_usuarios_path, remote: true do |f| %>
  <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.input :nome, label: false, required: false, input_html: {name: :nome, placeholder: 'Nome'} %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.input :email, label: false, required: false, input_html: {name: :email, placeholder: 'E-mail'} %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
      <%= f.input :ativos, label: false, required: false, collection: [[t('simple_form.yes'), true], [t('simple_form.no'), false]], input_html: {name: :ativos}, include_blank: false, hint: "Ativos" %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="form-group">
          <%= f.button :submit, t('helpers.links.search'), class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <% if can? :create, Usuario %>
          <div class="form-group">
            <%= link_to "#{glyph('plus', {tag: :i})} #{t('action_controller.adicionar', model: t('usuarios.usuario'))}".html_safe, new_a_usuario_path, class: 'btn btn-success btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div id="usuarios_list">
      <%= render 'list' %>
    </div>
  </div>

</div>
