<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal">
   <span aria-hidden="true">&times;</span>
   <span class="sr-only">Close</span>
 </button>
 <h4 class="modal-title" id="modal_element_label"><strong><%= t('usuarios.usuario') %>: </strong><%= @usuario.nome %></h4>
</div>

<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">
      <strong><%= t('usuarios.email') %>: </strong><%= @usuario.email %>
    </li>
    <li class="list-group-item">
      <strong><%= t('usuarios.telefone') %>: </strong><%= @usuario.telefone %>
    </li>
    <li class="list-group-item">
      <strong><%= t('usuarios.celular') %>: </strong><%= @usuario.celular %>
    </li>
    <% unless @usuario.endereco.blank? %>
      <li class="list-group-item">
        <strong>Endereço: </strong><%= @usuario.endereco.nome_completo %>
      </li>
    <% end %>
  </ul>
</div>
